<?xml version="1.0"?>
<!--
/**
 * @package Divante_GroupedProductsManager
 * @author Marek Mularczyk <mmularczyk@divante.pl>
 * @copyright 2017 Divante Sp. z o.o.
 * @license See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\GroupedProduct\Ui\DataProvider\Product\Form\Modifier\Grouped"
                type="Divante\GroupedProductsManager\Ui\DataProvider\Product\Form\Modifier\Grouped" />
    <preference for="Magento\GroupedProduct\Block\Product\View\Type\Grouped"
                type="Divante\GroupedProductsManager\Block\GroupedProduct\Product\View\Type\Grouped" />
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Builder">
        <plugin name="build-product-with-extension-attributes" type="Divante\GroupedProductsManager\Plugin\Catalog\Controller\Adminhtml\Product\BuilderPlugin" sortOrder="1" />
    </type>
</config>