<?xml version="1.0"?>
<!--
/**
 * @package Divante\GroupedProductsManager
 * @author Marek Mularczyk <mmularczyk@divante.pl>
 * @copyright 2017 Divante Sp. z o.o.
 * @license See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Divante_GroupedProductsManager" setup_version="1.0.4">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_GroupedProduct"/>
        </sequence>
    </module>
</config>
